@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "WorkSans";
    src: url("/fonts/worksans_regular.ttf") format("truetype");
  }

body{
  background-color: #FFFFFF;
}